<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
    table, th , td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd)	{
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }
    Button
    {
        margin:5px;
    }
</style>
<body>

<div ng-app="myApp" ng-controller="customersCtrl" class="container-fluid" >
    <div class="row">
        <div class="col-md-12" style="background-color: #8DC4D6;font-size: 16px; margin-bottom: 10px; font-weight: bold;" >
		
		<form>
      <fieldset>
        <legend>Add/Edit Country</legend>
          <label for="country">Country:</label><input id="country" name="country" type="text" ng-model="lista.paises"  /><br>
          <label for="population">Population:</label><input id="population" name="population" type="text" ng-model="lista.population" /><br>
      </fieldset>
    </form>
 <button class="btn btn-primary btn-sm" ng-click = "myFunc()" style="float: left;vertical-align: middle;margin-bottom: 8px">Add </button>
                  

        </div>
    </div>
	    
		<pre>lista = {{lista | json}}</pre>
	
	
    <div class="row">
       <table>
           <tr>
             <th>ID</th> <th>Country</th><th>Population</th><th>Actions</th><
           </tr>
           <tr ng-repeat="x in names">
			   <td>{{ x.id }}</td>
               <td>{{ x.country }}</td>
               <td>{{ x.population }}</td>
			   <td><button class="btn btn-primary btn-sm" ng-click = "myUpdate()" style="float: left;vertical-align: middle;margin-bottom: 8px">Update </button> <button class="btn btn-primary btn-sm" ng-click = "myDelete()" style="float: left;vertical-align: middle;margin-bottom: 8px; background-color:#FF6347">Delete </button></td>
           </tr>
      </table>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "coutriesapp.js"></script>
</body>
</html>